body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}
h1, h2 {
    text-align: center;
}
form {
    text-align: center;
    margin-top: 50px;
}
input[type="file"] {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
}
input[type="submit"] {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

.opImg{
    width: 25%;
    object-fit: fill;
}

.download-button-holder{
    display: flex;
    justify-content: center;
}

.download-button{
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}